{% block body %}
			
	<!--banner-->
	<section class="banner">
	  	<div><img src="/img/banner_case.jpg" alt="" /></div>
	</section>
	<div class="zi_com clearfix">
		<div class="zi_left">
			<div class="top">
				<span class="span1">成功案例</span>
				<span  class="span2">CASE</span>
			</div>
			<ul>
				<li  class="active">
					<a href="case.html">画册宣传册</a>
				</li>
				<li>
					<a href="case.html">包装 </a>
				</li>
				<li>
					<a href="case.html">海报 </a>
				</li>
			</ul>
			<div class="lian">
				<div class="lian_t">
					<span class="span1">联系我们</span>
					<span class="span2">CONTACT</span>
				</div>
				<p>
					地址：上海市虹口区水电路
					682号 天虹商务大厦
				</p>
				<p>
					电话：<a href="tel:8888888888">8888888888</a>
				</p>
				<p>
					邮箱：<a href="mailto:Eason.wang@
71360.com">Eason.wang@
71360.com</a>
				</p>
				
			</div>
		</div>
		<div class="zi_right">
			<div class="bar clearfix">
				<span class="b_tt">画册宣传册</span>
				<span class="curbar"><i>您当前的位置：</i><a href="index.html">首页</a> > <a href="case.html">成功案例</a> > <i>画册宣传册</i></span>
			</div>
			<ul class="case_ul clearfix">
					<li>
						<a href="case_show.html">
							<div class="pic">
								<img src="/img/case_01.jpg" alt="" class="vcenter" />
								<i></i>
							</div>
							<p>档案袋 </p>
						</a>
					</li>
					<li>
						<a href="case_show.html">
							<div class="pic">
								<img src="/img/case_02.jpg" alt=""  class="vcenter"/>
								<i></i>
							</div>
							<p>瓦楞纸箱 </p>
						</a>
					</li>
					<li>
						<a href="case_show.html">
							<div class="pic">
								<img src="/img/case_03.jpg" alt=""  class="vcenter"/>
								<i></i>
							</div>
							<p>信纸信封 </p>
						</a>
					</li>
					<li>
						<a href="case_show.html">
							<div class="pic">
								<img src="/img/case_01.jpg" alt="" class="vcenter" />
								<i></i>
							</div>
							<p>档案袋 </p>
						</a>
					</li>
					<li>
						<a href="case_show.html">
							<div class="pic">
								<img src="/img/case_02.jpg" alt=""  class="vcenter"/>
								<i></i>
							</div>
							<p>瓦楞纸箱 </p>
						</a>
					</li>
					<li>
						<a href="case_show.html">
							<div class="pic">
								<img src="/img/case_03.jpg" alt=""  class="vcenter"/>
								<i></i>
							</div>
							<p>信纸信封 </p>
						</a>
					</li>
					
				</ul>
			<div class="page">
				<a href="" class="ye ye1"></a>
				<a href="" class="active">1</a>
				<a href="">2</a>
				<a href="">3</a>
				<a href="">…</a>
				<a href="" class="ye ye2"></a>
			</div>
			<div class="guan_new">
				<div class="guan_top">
					<span>新闻资讯</span>
				</div>
				<ul class="guan_ul">
					<li>
						<a href="news.html">
							<time>2015-06-08</time>
							<h4>还在舍近求远？转化只会越来越远</h4>
							<p>
								对于多数To B类营销人员而言，他们的工作职责可以概括为以下几点：寻找潜在客户、挖掘商机...  
							</p>
							<span>MORE</span>
						</a>
					</li>
					<li>
						<a href="news.html">
							<time>2015-06-08</time>
							<h4>企业该如何享用奥运新媒体盛宴？</h4>
							<p>
								似乎一提到里约奥运，就有种忧心忡忡的感觉，虽然磕磕绊绊，但它仍然如期开幕了，人们的目光也立刻转向体育赛事中...  
							</p>
							<span>MORE</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
		
	</div>
	
	
	
	{% endblock %}