
	{% block body %}
	<!--banner-->
	<section class="banner">
	  	<div><img src="/img/banner_case.jpg" alt="" /></div>
	</section>
	<div class="zi_com clearfix">
		<div class="zi_left">
			<div class="top">
				<span class="span1">成功案例</span>
				<span  class="span2">CASE</span>
			</div>
			<ul>
				<li  class="active">
					<a href="case.html">画册宣传册</a>
				</li>
				<li>
					<a href="case.html">包装 </a>
				</li>
				<li>
					<a href="case.html">海报 </a>
				</li>
			</ul>
			<div class="lian">
				<div class="lian_t">
					<span class="span1">联系我们</span>
					<span class="span2">CONTACT</span>
				</div>
				<p>
					地址：上海市虹口区水电路
					682号 天虹商务大厦
				</p>
				<p>
					电话：<a href="tel:8888888888">8888888888</a>
				</p>
				<p>
					邮箱：<a href="mailto:Eason.wang@
71360.com">Eason.wang@
71360.com</a>
				</p>
				
			</div>
		</div>
		<div class="zi_right">
			<div class="bar clearfix">
				<span class="b_tt">画册宣传册</span>
				<span class="curbar"><i>您当前的位置：</i><a href="index.html">首页</a> > <a href="case.html">成功案例</a> > <i>画册宣传册</i></span>
			</div>
			
			<div class="case_show">
				<div class="img_case">
					<img src="/img/case_s1.jpg" alt="" class="vcenter"/>
					<i></i>
				</div>
				<div class="case_c">
					<span>档案袋 </span>
					<p>
						公司多年来始终秉持着"以服务立信誉，以质量铸品牌"的思想，<br>
树立"让每一个客户成为我们的终身客户"的服务理念，以为用户提供精细化服务，全面满足用户需求为宗旨，诚信经营，最大限度的<br>
为客户创造价值。
					</p>
				</div>
			</div>
			<ul class="prev_next clearfix">
				<li><a href="pro_show.html"><b>上一篇：</b>暂无</a></li>
				<li><a href="pro_show.html"><b>下一篇：</b>影视作品</a></li>
			</ul>
			<div class="guan_case">
				<div class="guan_top">
					<span>相关案例</span>
				</div>
				<ul class="case_ul clearfix">
					<li>
						<a href="case_show.html">
							<div class="pic">
								<img src="/img/case_01.jpg" alt="" class="vcenter" />
								<i></i>
							</div>
							<p>档案袋 </p>
						</a>
					</li>
					<li>
						<a href="case_show.html">
							<div class="pic">
								<img src="/img/case_02.jpg" alt=""  class="vcenter"/>
								<i></i>
							</div>
							<p>瓦楞纸箱 </p>
						</a>
					</li>
					<li>
						<a href="case_show.html">
							<div class="pic">
								<img src="/img/case_03.jpg" alt=""  class="vcenter"/>
								<i></i>
							</div>
							<p>信纸信封 </p>
						</a>
					</li>
				</ul>
			</div>
			
			
			<div class="guan_new">
				<div class="guan_top">
					<span>新闻资讯</span>
				</div>
				<ul class="guan_ul2">
					<li>
						<a href="news.html">中国物流标准化存在几个问题</a><span>2016-05-21</span>
					</li>
					<li>
						<a href="news.html">	2015年快递业务总量预计达200亿件 比“十二五”初期增长8倍</a><span>2016-05-21</span>
					</li>
					<li>
						<a href="news.html">国家邮政局局长马军胜发表第46届世界邮政日致辞</a><span>2016-05-21</span>
					</li>
					<li>
						<a href="news.html">国务院常务会议决定进一步开放国内快递市场 推动内外资公平有序竞争</a><span>2016-05-21</span>
					</li>
					<li>
						<a href="news.html">国家邮政局动员部署抗战胜利70周年纪念活动寄递渠道安全保障工作</a><span>2016-05-21</span>
					</li>
					<li>
						<a href="news.html">快递下乡 市场前景待观望</a><span>2016-05-21</span>
					</li>
					<li>
						<a href="news.html">国家邮政局局长马军胜发表第46届世界邮政日致辞</a><span>2016-05-21</span>
					</li>
				</ul>
				
			</div>
		</div>
		
	</div>
	
	
	
	{% endblock %}