{% extends "common/layout.html" %} 
{% block body %}	
	{% block head %} 
	<link rel="stylesheet" href="/css/viewer.min.css" />
	{% endblock %}	
	<!--banner-->
	<section class="banner">
	  	<div><img src="/img/banner_about.png" alt="" /></div>
	</section>
	<div class="zi_com clearfix">
		{% include "common/about_bar.html" %}
		<div class="zi_right">
			<div class="bar clearfix">
				<span class="b_tt">{% if language=='cn' %}荣誉资质{% else %}Honor{% endif %}</span>
				<span class="curbar"><i>{% if language=='cn' %}您当前的位置{% else %}Current Location{% endif %}：</i><a href="/">{% if language=='cn' %}首页{% else %}Home{% endif %}</a> > <a href="/about">{% if language=='cn' %}关于我们{% else %}About Us{% endif %}</a> > <i>{% if language=='cn' %}荣誉资质{% else %}Honor{% endif %}</i></span>
			</div>
			  <div class="about2">
                <ul>
					{% for item in aboutUs.data.honer|shorten %}
                    <li><div class="rongyu-img"><img src="<$ item.url $>"></div><span><$ item.title $></span></li>
					{% endfor %}
                </ul>
                <button class="ban_l_btn"></button>
                <button class="ban_r_btn"></button>
			</div>
			{% if false %}
           <ul class="hon_ul clearfix" id="hon_ul">
				<li>
					<div class="pic"><img src="/img/about2-1.png" alt="" class="vcenter" /><i></i></div>
					<p>Google Adwords 授权代理商英文版</p>	

				</li>
				<li>
					<div class="pic"><img src="/img/about2-2.png" alt="" class="vcenter" /><i></i></div>
					<p>Google Adwords 授权代理商英文版</p>	

				</li>
				<li>
					<div class="pic"><img src="/img/about2-3.png" alt="" class="vcenter" /><i></i></div>
					<p>Google Adwords 授权代理商英文版</p>	

				</li>
				<li>
					<div class="pic"><img src="/img/about2-4.png" alt="" class="vcenter" /><i></i></div>
					<p>Google Adwords 授权代理商英文版</p>	

				</li>
				<li>
					<div class="pic"><img src="/img/about2-5.png" alt="" class="vcenter" /><i></i></div>
					<p>Google Adwords 授权代理商英文版</p>	

				</li>
			</ul>
			{% endif %}
			{% include "common/news_bar.html" %}
		</div>
		
	</div>
	
	
<!--slick-->
<script type="text/javascript" src="/js/viewer.min.js">
	
</script>
<script type="text/javascript">
		$("#hon_ul").viewer();
	</script>
<script src="js/roundabout.min.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" src="js/jquery.easing.1.3.js" ></script>
<script type="text/javascript">

$(document).ready(function(){
    /*调用*/
    $('.about2 ul').roundabout({
       startingChild:0,
        autoplay:false,
        autoplayDuration:4000,
        btnPrev: ".ban_r_btn", // 右按钮
        btnNext: ".ban_l_btn", // 左按钮
        easing: 'easeOutInCirc',
        autoplayInitialDelay:0,
        duration: 600 //切换一张所花费的时间，而不是 每隔多少秒切换一张
    });

});

</script>

{% endblock %}				