{% block body %}
		
	<!--banner-->
	<section class="banner">
	  	<div><img src="/img/banner_about.png" alt="" /></div>
	</section>
	<div class="zi_com clearfix">
		<div class="zi_left">
			<div class="top">
				<span class="span1">网站地图</span>
				<span  class="span2">MAP</span>
			</div>
			<ul>
				<li class="active">
					<a href="map.html">网站地图</a>
				</li>
				
			</ul>
			<div class="lian">
				<div class="lian_t">
					<span class="span1">联系我们</span>
					<span class="span2">CONTACT</span>
				</div>
				<p>
					地址：上海市虹口区水电路
					682号 天虹商务大厦
				</p>
				<p>
					电话：<a href="tel:8888888888">8888888888</a>
				</p>
				<p>
					邮箱：<a href="mailto:Eason.wang@
71360.com">Eason.wang@
71360.com</a>
				</p>
				
			</div>
		</div>
		<div class="zi_right">
			<div class="bar clearfix">
				<span class="b_tt">网站地图</span>
				<span class="curbar"><i>您当前的位置：</i><a href="index.html">首页</a> >  <i>网站地图</i></span>
			</div>
		
		<div class="w1004">
			<div class="map">
			<dl>
				<dt><a href="about.html">关于官网</a></dt>
				<dd>
					<div>
					<a href="about.html">公司简介</a>
					<a href="about.html">董事长致辞</a>
					<a href="honor.html">荣誉资质</a>
					<a href="about.html">企业文化</a>
					<a href="about.html">发展历程</a>
					</div>
				</dd>
			</dl>
			<dl>
				<dt><a href="pro.html">产品展示</a></dt>
				<dd>
					<p class="p2"><a href="pro.html">画册宣传册</a></p>
					<div>
						<a href="pro.html">画册宣传册</a>
						<a href="pro.html">海报 </a>
						<a href="pro.html">包装 </a>
					</div>
					<p class="p2"><a href="pro.html">海报 </a></p>
					<div>
						<a href="pro.html">画册宣传册</a>
						<a href="pro.html">海报 </a>
						<a href="pro.html">包装 </a>
					</div>
					<p class="p2"><a href="pro.html">包装 </a></p>
					<div>
						<a href="pro.html">画册宣传册</a>
						<a href="pro.html">海报 </a>
						<a href="pro.html">包装 </a>
					</div>
				</dd>
			</dl>
			<dl>
				<dt><a href="news.html">新闻动态</a></dt>
				<dd>
					<div>
						<a href="news.html">公司新闻</a>
    					<a href="news.html">行业新闻</a> 
					</div>
				</dd>
			</dl>
			<dl>
				<dt><a href="case.html">成功案例</a></dt>
				<dd>
					<div>
						<a href="case.html">画册宣传册</a>
		    			<a href="case.html">海报 </a>
		    			<a href="case.html">包装 </a>
					</div>
				</dd>
			</dl>
		
	    	<dl>
				<dt><a href="service.html"> 服务</a></dt>
				<dd>
					<div>
						<a href="service.html"> 服务一</a>
	    					<a href="service.html"> 服务二</a>
	    					<a href="service.html"> 服务三</a>
					</div>
				</dd>
			</dl>
			<dl>
				<dt><a href="contact.html">联系我们</a></dt>
				<dd>
					<div>
						<a href="contact.html">联系方式</a>	
	    				<a href="feedback.html">在线留言</a>                   
					</div>
				</dd>
			</dl>
		</div>
		</div>
		</div>
		
	</div>
						
{% endblock %}