{% extends "common/layout.html" %} 
{% block body %}	
	<!--banner-->
	<section class="banner">
	  	<div><img src="/img/banner_about.png" alt="" /></div>
	</section>
	<div class="zi_com clearfix">
		{% include "common/about_bar.html" %}
		<div class="zi_right">
			<div class="bar clearfix">
				<span class="b_tt">{% if language=='cn' %}基胜风采{% else %}Keson Mien{% endif %}</span>
				<span class="curbar"><i>{% if language=='cn' %}您当前的位置{% else %}Current Location{% endif %}：</i><a href="/">{% if language=='cn' %}首页{% else %}Home{% endif %}</a> > <a href="/about">{% if language=='cn' %}关于我们{% else %}About Us{% endif %}</a> > <i>{% if language=='cn' %}基胜风采{% else %}Keson Mien{% endif %}</i></span>
			</div>
			<div class="about_zi">
				<div class="ab_img">
					<img src="/img/about_04.png" alt="" class="vcenter"/>
					<i></i>
				</div>
				<div>
                    <img src="/img/mien.jpg" alt="" >
				</div>
				
			</div>
			{% include "common/news_bar.html" %}
		</div>
		
	</div>
	
	
	
	{% endblock %}