{% extends "common/layout.html" %} 
{% block body %}
		
	
	<!--banner-->
	<section class="banner">
	  	<div><img src="/img/banner_news.jpg" alt="" /></div>
	</section>
	<div class="zi_com clearfix">
		<div class="zi_left">
			<div class="top">
				<span class="span1">{% if language=='cn' %}新闻资讯{% else %}NEWS{% endif %}</span>
				<span  class="span2">{% if language=='cn' %}NEWS{% endif %}</span>
			</div>
			<ul>
				<li {% if active == 'news' %}class="active"{% endif %}>
					<a href="/news">{% if language=='cn' %}公司新闻{% else %}Company News{% endif %}</a>
				</li>
				<li {% if active == 'tradenews' %}class="active"{% endif %}>
					<a href="/tradenews">{% if language=='cn' %}行业新闻{% else %}Trade News{% endif %}</a>
				</li>
			</ul>
			{% include "common/contect_bar.html" %} 
		</div>
		<div class="zi_right">
			<div class="bar clearfix">
				<span class="b_tt">{% if language=='cn' %}{% if type == 1 %}公司{% else %}行业{% endif %}新闻{% else %}{% if type == 1 %}Company{% else %}Trade{% endif %} News{% endif %}</span>
				<span class="curbar"><i>{% if language=='cn' %}您当前的位置{% else %}Current Location{% endif %}：</i><a href="/">{% if language=='cn' %}首页{% else %}Home{% endif %}</a> > <a href="/news">{% if language=='cn' %}新闻资讯{% else %}News{% endif %}</a> > <i>{% if language=='cn' %}{% if type == 1 %}公司{% else %}行业{% endif %}新闻{% else %}{% if type == 1 %}Company{% else %}Trade{% endif %} News{% endif %}</i></span>
			</div>
			<div class="news_show">
				<div class="top_show">
					<h3>{% if language=='cn' %}<$ newDetail.title $>{% else %}<$ newDetail.entitle $>{% endif %}</h3>
					<p>{% if language=='cn' %}发表时间{% else %}Published Time{% endif %}：<$ newDetail.createdAt|dayearmonth $>　</p>
				</div>
				<div>
						{% if language=='cn' %}<$ newDetail.content|safe $>{% else %}<$ newDetail.encontent|safe $>{% endif %}
				</div>
				
				<div class="guan_new">
				<div class="guan_top">
					<span>{% if language=='cn' %}新闻资讯{% else %}NEWS{% endif %}</span>
				</div>
				<ul class="guan_ul2">
					{% for item in news.data %}
					<li>
						<a href="/news_show?id=<$ item.id $>">{% if language=='cn' %}<$ item.title $>{% else %}<$ item.entitle $>{% endif %}</a><span><$ newDetail.createdAt|dayearmonth $></span>
					</li>
					{% endfor %}
				</ul>
			</div>
			{% include "common/news_product_bar.html" %} 
			</div>
			
			
			
		</div>
		
	</div>

		
	{% endblock %}					