{% block body %}	
	{% block head %} 
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css"/>
	<link rel="stylesheet" type="text/css" href="css/photo.css"/>
    <style type="text/css">
    	.photo {
    		margin: 20px 0 0 0;
    		width: 98%;
    		padding: 0;
    	}
    	.photo li {
    		margin-bottom: 20px;
    		text-align: center;
    	}
	</style>
	{% endblock %}
	<ul id="lightgallery" class="photo list-unstyled">
		<li data-src="/img/pic-01.jpg" class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
			<a href=""><img src="/img/pic-01.jpg" width="100%" class="vcenter"></a>
		</li>
		<li data-src="/img/pic-02.jpg" class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
			<a href=""><img src="/img/pic-02.jpg" width="100%"></a>
		</li>
		<li data-src="/img/pic-03.jpg" class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
			<a href=""><img src="/img/pic-03.jpg"  width="100%"></a>
		</li>
		<li data-src="/img/pic-01.jpg" class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
			<a href=""><img src="/img/pic-01.jpg" width="100%" class="vcenter"></a>
		</li>
		<li data-src="/img/pic-02.jpg" class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
			<a href=""><img src="/img/pic-02.jpg" width="100%"></a>
		</li>
		<li data-src="/img/pic-03.jpg" class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
			<a href=""><img src="/img/pic-03.jpg"  width="100%"></a>
		</li>
		<li data-src="/img/pic-01.jpg" class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
			<a href=""><img src="/img/pic-01.jpg" width="100%" class="vcenter"></a>
		</li>
		<li data-src="/img/pic-02.jpg" class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
			<a href=""><img src="/img/pic-02.jpg" width="100%"></a>
		</li>
		<li data-src="/img/pic-03.jpg" class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
			<a href=""><img src="/img/pic-03.jpg"  width="100%"></a>
		</li>
		<li data-src="/img/pic-01.jpg" class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
			<a href=""><img src="/img/pic-01.jpg" width="100%" class="vcenter"></a>
		</li>
		<li data-src="/img/pic-02.jpg" class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
			<a href=""><img src="/img/pic-02.jpg" width="100%"></a>
		</li>
		<li data-src="/img/pic-03.jpg" class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
			<a href=""><img src="/img/pic-03.jpg"  width="100%"></a>
		</li>
		<li data-src="/img/banner3.jpg" class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
			<a href=""><img src="/img/banner3.jpg"  width="100%" class="vcenter"></a>
		</li>
		<li data-src="/img/pic-01.jpg" class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
			<a href=""><img src="/img/pic-01.jpg" width="100%" class="vcenter"></a>
		</li>
		<li data-src="/img/pic-02.jpg" class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
			<a href=""><img src="/img/pic-02.jpg" width="100%"></a>
		</li>
		<li data-src="/img/pic-03.jpg" class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
			<a href=""><img src="/img/pic-03.jpg"  width="100%"></a>
		</li>
		<li data-src="/img/pic-01.jpg" class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
			<a href=""><img src="/img/pic-01.jpg" width="100%" class="vcenter"></a>
		</li>
		<li data-src="/img/pic-02.jpg" class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
			<a href=""><img src="/img/pic-02.jpg" width="100%"></a>
		</li>
		<li data-src="/img/pic-03.jpg" class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
			<a href=""><img src="/img/pic-03.jpg"  width="100%"></a>
		</li>
		<li data-src="/img/pic-01.jpg" class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
			<a href=""><img src="/img/pic-01.jpg" width="100%" class="vcenter"></a>
		</li>
		<li data-src="/img/pic-02.jpg" class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
			<a href=""><img src="/img/pic-02.jpg" width="100%"></a>
		</li>
		<li data-src="/img/pic-03.jpg" class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
			<a href=""><img src="/img/pic-03.jpg"  width="100%"></a>
		</li>
		<li data-src="/img/pic-01.jpg" class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
			<a href=""><img src="/img/pic-01.jpg" width="100%" class="vcenter"></a>
		</li>
		<li data-src="/img/pic-02.jpg" class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
			<a href=""><img src="/img/pic-02.jpg" width="100%"></a>
		</li>
	</ul>
	    
    <!--瀑布流-->
    <script src="/js/masonry.pkgd.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript">
    	$(window).load(function(){
			$('#lightgallery').masonry({
				itemSelector: 'li',
			});
		})
    </script>
       
    <!--相册-->   
    <script src="/js/jquery.mousewheel.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="/js/lightgallery-all.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="/js/lg-thumbnail.js" type="text/javascript" charset="utf-8"></script>
	<script src="/js/lg-fullscreen.js" type="text/javascript" charset="utf-8"></script>
	
	<script type="text/javascript">
	    $(document).ready(function() {
	        $("#lightgallery").lightGallery(); 
	    });
	</script>

{% endblock %}>
