{% block body %}		
	<!--banner-->
	<section class="banner">
	  	<div><img src="/img/banner_service.jpg" alt="" /></div>
	</section>
	<div class="zi_com clearfix">
		<div class="zi_left">
			<div class="top">
				<span class="span1"> 服务</span>
				<span  class="span2">PRINTING SERVICES</span>
			</div>
			<ul>
				<li>
					<a href="about.html"> 服务一</a>
				</li>
				<li class="active">
					<a href="about.html"> 服务二</a>
				</li>					
				
				<li>
					<a href="about.html"> 服务三</a>
				</li>	
			
			</ul>
			<div class="lian">
				<div class="lian_t">
					<span class="span1">联系我们</span>
					<span class="span2">CONTACT</span>
				</div>
				<p>
					地址：上海市虹口区水电路
					682号 天虹商务大厦
				</p>
				<p>
					电话：<a href="tel:8888888888">8888888888</a>
				</p>
				<p>
					邮箱：<a href="mailto:Eason.wang@
71360.com">Eason.wang@
71360.com</a>
				</p>
				
			</div>
		</div>
		<div class="zi_right">
			<div class="bar clearfix">
				<span class="b_tt"> 服务</span>
				<span class="curbar"><i>您当前的位置：</i><a href="index.html">首页</a> > <a href="service.html"> 服务</a> > <i> 服务二</i></span>
			</div>
			<div class="service_com">
				<h3>上海官网信息科技有限公司</h3>
				<div class="biao">
					尊崇“踏实、拼搏、责任”的企业精神，并以诚信、共赢、开创经营理念。
				</div>
				<p class="p1">
					创造良好的企业环境，以全新的管理模式，完善的技术，周到的服务，卓越的品质为生存根本，我们始终坚持用户至上 用心服务于客户，坚持用自己的服务去打动客户。
				</p>
				<div class="ul_xian">
					<ul class="liu_ul clearfix">
						<li class="li1">
							<p>
								我们首先根据您的业务或任务调整您的设备 - 确定设备在整个组织中的正确组合和位置，以获得最大的效率并方便用户使用。
							</p>
						</li>
						<li class="li2">
							<p>
								下一步，我们专注于您设备的日常管理。我们的连续监控和主动支持服务，使您的资产可用性最大化，并确保有效地管理耗材。
							</p>
						</li>
						<li class="li3">
							<p>
								要使您的节余达到新的水平，我们可以帮助您通过实施行之有效的输出策略来减少打印量，从而遏制浪费或不必要的打印。
							</p>
						</li>
						<li class="li4">
							<p>
								不断的跟踪和分析，使我们能够增加业务流程解决方案的价值。 即使文档管理或工作流解决方案只部署到您组织的一个子集，都能够倍增生产力，提升您的投资回报率。
							</p>
						</li>
					</ul>
					
				</div>
				<div class="xx_p">
					<p>
						紫光图文作为您的 MPS 供应商，您可以期望直接对话和最诚实的回答。我们
						参与的第一个多国服务是在 20 世纪90年代后期，这使得我们在 MPS 领域具有丰
						富的经验。这些年来，我们继续提升我们深厚的行业专业知识，掌握新技能并磨练最
						佳实践，同时建立了一个专有的 MPS 工具集和强大的基础设施，以支持我们的客户在本地、地区、国家和全球的需求。
					</p>
					<p>
						紫光图文在为纸张密集型行业，如金融服务、医疗保健、制造业、零售业、
						制药业及其他垂直行业的客户开发输出策略方面拥有超过 20 年的经验，非常
						了解纸张和电子文档以及它们所包含的信息如何影响业务流程的效率。当 紫光图文管
						理您的基础设施时，能够提供给我们丰富的性能数据；我们的 MPS 专业人
						员挖掘此数据，从而确定将可能产生更多节余并进一步提高生产率的趋势和模式。
					</p>
					<h4>衡量项目的有效性</h4>
					<ul>
						<li>第 1 级 - 每周与核心项目团队成员一起检讨运营情况</li>
						<li>第 2 级 - 每月检讨分析性能数据和项目里程碑</li>
						<li>第 3 级 - 每季度执行检讨，评估 MPS 策略是否按预期交付，并探讨持续改进的机会</li>
					</ul>
				</div>
				
				<div class=""></div>
			</div>
			<div class="guan_new">
				<div class="guan_top">
					<span>新闻资讯</span>
				</div>
				<ul class="guan_ul">
					<li>
						<a href="news.html">
							<time>2015-06-08</time>
							<h4>还在舍近求远？转化只会越来越远</h4>
							<p>
								对于多数To B类营销人员而言，他们的工作职责可以概括为以下几点：寻找潜在客户、挖掘商机...  
							</p>
							<span>MORE</span>
						</a>
					</li>
					<li>
						<a href="news.html">
							<time>2015-06-08</time>
							<h4>企业该如何享用奥运新媒体盛宴？</h4>
							<p>
								似乎一提到里约奥运，就有种忧心忡忡的感觉，虽然磕磕绊绊，但它仍然如期开幕了，人们的目光也立刻转向体育赛事中...  
							</p>
							<span>MORE</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
		
	</div>
	
	
	
	{% endblock %}