{% extends "common/layout-back.html" %} 
  {% block body %}
  
  <div class="admin-content-box-nav">
    <span class="layui-breadcrumb" lay-filter="breadcrumb" style="visibility:visible;">
      <a href="javascript:;">首页</a><span lay-separator="">/</span>
      <a href="javascript:;">新闻管理</a><span lay-separator="">/</span>
      <a><cite>{% if articleId %}修改新闻{% else %}添加新闻{% endif %}</cite></a>
    </span>
  </div>

  <div class="layui-fluid" style="padding:15px;">
    <form class="layui-form" wid100=""  lay-filter="regularForm">
      <div class="layui-form-item">
        <label class="layui-form-label">{% if typeId == 1 %}公司{% else %}行业{% endif %}新闻标题</label>
        <div class="layui-input-block">
          <input type="text" name="title" lay-verify="title" required autocomplete="off" placeholder="请输入标题" class="layui-input">
        </div>
      </div>

      <div class="layui-form-item">
        <label class="layui-form-label">（英文）{% if typeId == 1 %}公司{% else %}行业{% endif %}新闻标题</label>
        <div class="layui-input-block">
          <input type="text" name="entitle" lay-verify="title" required autocomplete="off" placeholder="请输入英文标题" class="layui-input">
        </div>
      </div>
     
     
      <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">{% if typeId == 1 %}公司{% else %}行业{% endif %}新闻内容</label>
        <div class="layui-input-block">
            <textarea id="edit"    style="display: none;"    ></textarea>
        </div>
      </div>

      <div class="layui-form-item layui-form-text">
          <label class="layui-form-label">（英文）{% if typeId == 1 %}公司{% else %}行业{% endif %}新闻内容</label>
          <div class="layui-input-block">
              <textarea id="enedit"    style="display: none;"    ></textarea>
          </div>
        </div>
      
      <div class="layui-form-item">
        <div class="layui-input-block">
          <button class="layui-btn" lay-submit="" lay-filter="article">立即提交</button>
        </div>
      </div>
    </form>
  </div>

  <script>
    layui.use(['element','laydate', 'layedit', 'form'], function () {
        var form = layui.form  
          , layer = layui.layer
          , layedit = layui.layedit
        
          

          layedit.set({
              uploadImage: {
                  url: '/api/uploadfiles' //接口url
                  ,type: 'post' //默认post
                  ,headers:{'Authorization':`Bearer ${window.localStorage.getItem('kesonToken')}`}
              }
          });

          var editIndex = layedit.build('edit',{
              hideTool:['link','unlink'],
              height:400
          }); 

          var eneditIndex = layedit.build('enedit',{
              hideTool:['link','unlink'],
              height:400
          }); 

          
          form.render();


          {% if articleId %}
          //获取
          AjaxBox('/api/articleinfo',{id:<$ articleId $>},function (req) {
              layedit.setContent(editIndex,req.data.content)
              layedit.setContent(eneditIndex,req.data.encontent)
              form.val('regularForm',req.data)
          })
          {% endif %}

          //提交
          form.on('submit(article)',function (data) {
              var content = layedit.getContent(editIndex);
              var encontent = layedit.getContent(eneditIndex);
              data.field = Object.assign({},data.field,{content:content,encontent:encontent{% if articleId %},id:<$ articleId $>{% endif %},type:<$ typeId $>})
              AjaxBox('/api/article',data.field,function (req) {

                  layer.msg('成功',{icon:1,time:1000,function () {
                    location.reload()
                  }})
              })
              return false
          })

    });
  </script>
{% endblock %}