{% extends "common/layout-back.html" %} 

	{% block body %}
  <div class="layui-fluid" style="padding-top:15px;padding-bottom:15px;">
    <div class="layui-form" lay-filter="" id="regularForm">
      <div class="layui-form-item">
        <label class="layui-form-label">新密码</label>
        <div class="layui-input-inline">
          <input type="password" name="pwd" lay-verify="pass" lay-vertype="tips" autocomplete="off"
            id="LAY_password" class="layui-input">
        </div>
        <div class="layui-form-mid layui-word-aux">6到16个字符</div>
      </div>
      <div class="layui-form-item">
        <label class="layui-form-label">确认新密码</label>
        <div class="layui-input-inline">
          <input type="password" name="repassword" lay-verify="repass" lay-vertype="tips" autocomplete="off"
            class="layui-input">
        </div>
      </div>
      <div class="layui-form-item">
        <div class="layui-input-block">
          <button class="layui-btn" lay-submit="" lay-filter="setmypass">确认修改</button>
        </div>
      </div>
    </div>
  </div>
  <script>
    layui.use(['laydate', 'jquery', 'form'], function () {
      var form = layui.form; //只有执行了这一步，部分表单元素才会自动修饰成功
   
      //提交
      form.on('submit(setmypass)',function (data) {
          if(data.field.pwd != data.field.repassword){
              layer.msg('您输入的密码不一致',{icon:6,time:1000})
              return false
          }
          AjaxBox('/api/pwdup',data.field,function (req) {

              layer.msg('成功',{icon:1,time:1000},function () {
                  location.reload()
              })
              
          })
          return false
      })
    });
  </script>
{% endblock %}